<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Building Monitoring System</h1>
        <h2>Select a Floor to View Sensor Data</h2>

        <div class="floor-list">
            {% for floor in floors %}
            <div class="floor-box">
                <a href="{{ url_for('floor_page', floor_name=floor) }}">{{ floor }} Floor</a>
            </div>
            {% endfor %}
        </div>

        <!-- Add Floor Form -->
         <div>
            <div class="add-floor-form">
                <h3>Add a New Floor</h3>
                <form action="{{ url_for('add_floor') }}" method="POST">
                    <input type="text" name="floor_name" placeholder="Enter Floor Name" required>
                    <button type="submit">Add Floor</button>
                </form>
            </div>
         </div>
    </div>
</body>
</html>
